08132010_Uncinate-tracts.xls
091410_AF-tracts.xls
20110509_DELISI_DTI_and_Tract_Processing.xls
AF-vol-output.txt
AF-vol.txt
all_curv_disp.txt
atlas_build/
awk1.awk
backup/
caselist_jun.txt
caselist.txt
createDTIs.py.gz
curv_disp_caselist.txt
curv_disp_vtk_output2-MatlabMeasureTracts.txt
curv_disp_vtk_output-MatlabMeasureTracts.txt
data.sh
delisiData/
DELISI_HM_0403/
DELISI_HM_0503/
DELISI_HM_0603/
DELISI_HM_0703/
DELISI_HM_0703_2/
DELISI_HM_0903/
DELISI_HM_1003/
DELISI_HM_1103/
DELISI_HM_11_03/
DELISI_HM_1203/
DELISI_HM_1303/
DELISI_HM_1403/
DELISI_HM_1703/
DELISI_HM_2003/
DELISI_HM_2103/
DELISI_HM_2203/
DELISI_HM_2303/
DELISI_HM_2403/
DELISI_HM_2503/
DELISI_HM_2803/
DELISI_HM_2903/
DELISI_HM_3003/
DELISI_HM_3103/
DELISI_HM_3203/
DELISI_HM_3203_2/
DELISI_HM_3303/
DELISI_HM_3403/
DELISI_HM_3503/
DELISI_HM_3603/
DELISI_HM_3703/
DELISI_HM_3903/
DELISI_HM_4203/
DELISI_HM_4303/
DELISI_HM_4403/
DELISI_HM_4503/
DELISI_HM_4703/
DELISI_HM_4803/
DELISI_HM_4903/
DELISI_HM_5103/
DELISI_HM_5203/
DELISI_HM_5303/
DELISI_HM_5403/
DELISI_HM_5503/
DELISI_HM_5603/
DELISI_HM_5703/
DELISI_HM_5803/
DELISI_HM_5903/
DELISI_HM_6003/
DELISI_HM_6103/
DELISI_HM_6203/
DELISI_HM_6303/
DELISI_HM_6403/
DELISI_HM_6503/
DELISI_HM_6603/
DELISI_HM_6703/
DELISI_HM_6803/
DELISI_HM_6903/
DELISI_HM_7003/
DELISI_HM_7103/
DELISI_HM_7203/
DELISI_HM_7303/
DELISI_HM_7403/
DELISI_HM_7503/
DELISI_HM_7603/
DELISI_HM_7703/
DELISI_HM_7803/
DELISI_HM_7903/
DELISI_HM_8003/
DELISI_HM_8103/
DELISI_HM_8203/
DELISI_HM_8303/
DELISI_HM_8403/
DELISI_HM_8503/
DELISI_HM_8603/
DELISI_HM_8703/
DELISI_HM_8803/
DELISI_HM_8903/
Delisi_LNR_pilot001/
Delisi_LNR_pilot002/
delisi_processing.txt
dicom_to_nifti/
EMSeg/
final_vtk_output-measureTracts-additional.txt
final_vtk_output-measureTracts.txt
fornix/
FORNIX-COMMENTS.txt
FreeSurfer/
FreeWater/
func_only_HM_2303/
geom_indices/
geom_indices_fw_corrected/
.git/
ICC_Vols.xls
IOFF-bundles/
IOFF-bundles-registered/
Log.txt
LRtest/
makeup_caselist.txt
mask_problems/
masks-fromcluster/
measure-tracts2.txt
measureTracts_curv_disp.m
measureTracts_curv_disp.m~
measure-tracts-output.txt
measure-tracts.txt
merge_vtks.py
Missed_curv_disp_cases.txt
pipelines/
pipelines-realign/
PROCESSING-LIST.xls
README
recreatedDiffs/
recreateDiffs.py
recreateDiffs.pyc
.redo/
reliability/
renameVtks.py
scripts_petersv/
slicesdir/
stats/
subj4_DELISI_HM_1103/
subj5_DELISI_HM_1303/
TBSS-apr-22/
tbss_charles/
TBSS-july-31/
TBSS-may-12/
TBSS-may-31/
TBSS-may-4/
TBSS_output/
tbss_peter_fw/
tbss_peter_usc/
test/
testout.nhdr
testout.raw.gz
togetlist.txt
UNC-bundles-registered/
uncinate-vol-output.txt
uncinate-vol.txt
vtk_list2.txt
vtk_list3.txt
vtk_list_extra.txt.gz
vtk_list.txt
vtks_new2.txt
vtks_new.txt
warp_tracts.sh
caselist*
