08132010_Uncinate-tracts.xls
091410_AF-tracts.xls
20110509_DELISI_DTI_and_Tract_Processing.xls
AF-vol-output.txt
AF-vol.txt
all_curv_disp.txt
atlas_build/
backup/
caselist*
createDTIs.py.gz
curv_disp_caselist.txt
curv_disp_vtk_output2-MatlabMeasureTracts.txt
curv_disp_vtk_output-MatlabMeasureTracts.txt
data.sh
delisiData/
DELISI_HM_*
Delisi_LNR_pilot001/
Delisi_LNR_pilot002/
delisi_processing.txt
dicom_to_nifti/
EMSeg/
final_vtk_output-measureTracts-additional.txt
final_vtk_output-measureTracts.txt
fornix/
FORNIX-COMMENTS.txt
FreeSurfer/
FreeWater/
func_only_HM_2303/
geom_indices/
geom_indices_fw_corrected/
.git/
ICC_Vols.xls
IOFF-bundles/
IOFF-bundles-registered/
Log.txt
LRtest/
makeup_caselist.txt
mask_problems/
masks-fromcluster/
measure-tracts2.txt
measureTracts_curv_disp.m
measureTracts_curv_disp.m~
measure-tracts-output.txt
measure-tracts.txt
merge_vtks.py
Missed_curv_disp_cases.txt
pipelines/
pipelines-realign/
PROCESSING-LIST.xls
README
recreatedDiffs/
recreateDiffs.py
recreateDiffs.pyc
.redo/
reliability/
renameVtks.py
scripts_petersv/
slicesdir/
stats/
subj4_DELISI_HM_1103/
subj5_DELISI_HM_1303/
TBSS-apr-22/
tbss_charles/
TBSS-july-31/
TBSS-may-12/
TBSS-may-31/
TBSS-may-4/
TBSS_output/
tbss_peter_fw/
tbss_peter_usc/
test/
testout.nhdr
testout.raw.gz
togetlist.txt
UNC-bundles-registered/
uncinate-vol-output.txt
uncinate-vol.txt
vtk_list2.txt
vtk_list3.txt
vtk_list_extra.txt.gz
vtk_list.txt
vtks_new2.txt
vtks_new.txt
warp_tracts.sh
caselist*
datadescription.md
pipeline-delisi/freesurfer-pipeline/DELISI_HM_*
pipeline-delisi/realign-edrmasks-pipeline/DELISI_HM_*
pipeline-delisi/realign-pipeline/DELISI_HM_*

